@import "variables";
@import "mixins";

h1 {
    text-align: center;
}

form {
    text-align: center;
}

img {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 250px;
    max-height: 250px;
}

.modal {
    padding: 1em;
    max-width: 50ch;
    border: 0;
}

.modal::backdrop {
    background: rgb(0 0 0 / .4);
}

.container {
    width: 100%;
    margin: 0 auto;

    height: 100%;
    max-width: 1024px;
}

.gs-grid {
    display: flex;
    flex-wrap: wrap;
}

[class*="col_"] {
    width: 100%;
    max-width: 100%;
}

.col {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    place-items: center;
    border: $border;
}

.border {
    border: $border;
}

// Include mixins
@include grid(col);

// Media queries

@media screen and (min-width: 576px){
    @include grid(sm-col);
}

@media screen and (min-width: 768px){
    @include grid(md-col);
}

@media screen and (min-width: 980px){
    @include grid(lg-col);
}

