<h2>Listado de Noticias</h2>
<form (submit)="buscar()">
    <input type="text" name="buscar" placeholder="Buscar..." [(ngModel)]="search">
    <button [disabled]="!search">Buscar</button>
</form>

<p *ngIf="cargando">Cargando....</p>

<h2>Resultados de {{lastSearch | myUpperCase}}</h2>
<div class="panel">
    <div>
        <app-noticias-list [noticias]="noticias" (current)="setCurrent($event)"></app-noticias-list>
    </div>
    <div>
        <app-noticia-details [noticia]="current" (onClear)="clearCurrent()"></app-noticia-details>
    </div>
</div>
